{% extends "emails/base_email.html" %}
{% block subject %}Your password was changed - Awesome Karts{% endblock %}

{% block content %}
<h1 style="margin:0 0 16px 0; font-size:22px; font-weight:700; color:#111827;">Your password was changed</h1>
<p style="margin:0 0 16px 0;">Hi {{ user.first_name }}, this is a confirmation that your Awesome Karts password was successfully changed on {{ changed_at_label }}.</p>
<p style="margin:0; font-weight:600; color:#111827;">If you didn't make this change, please contact us immediately{% if business.phone %} on {{ business.phone }}{% endif %}.</p>
{% endblock %}
